.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    max-width: 900px; /* 팝업 크기 조정 */
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.close-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 80%;
    padding: 10px;
    width: 100%;
}

.image-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
}

.image-wrapper img,
.image-wrapper video {
    width: 300px; /* 이미지와 동영상 동일한 크기 */
    height: 300px; /* 높이 통일 */
    object-fit: cover;
    border-radius: 5px;
}

.text-wrapper {
    margin-left: 20px;
    flex: 1; /* 제목과 설명이 남은 공간 차지 */
}

.text-wrapper h3 {
    margin: 0;
    font-size: 18px;
}

.text-wrapper p {
    margin: 5px 0 0;
    font-size: 14px;
}
