.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
  }
  
  .popup-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  
  .close-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container {
    margin: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .button-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
  }
  
  .image-wrapper {
    margin: 10px;
    text-align: center;
  }
  
  .image-wrapper img {
    width: 150px; /* 이미지 너비 */
    height: auto; /* 비율 유지 */
    border-radius: 5px; /* 이미지 모서리 둥글게 */
  }
  